version: '3.3'
services:
  db:
    image: mysql:8.0
    container_name: flask-db
    environment:
      MYSQL_DATABASE: "todo_db"
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
        #start_period: 60s

  flask:
    build:
      context: .
    container_name: flask-app
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: "mysql+pymysql://root:root@flask-db:3306/todo_db"
    depends_on:
      - db

volumes:
  db_data:

networks:
  flask_network:

